NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

# Nodemailer SMTP Email Configuration
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="no-reply@bitbrief.com"
SUPPORT_EMAIL="support@bitbrief.com"
NEXT_PUBLIC_APP_URL="http://localhost:3000"