@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #F8F9FA;
  --foreground: #2D2D2D;
  --primary: #0077B6;
  --secondary: #0085FF;
  --tertiary: #C5B9DA;
  --card: #F8F9FA;
  --card-foreground: #2D2D2D;
  --popover: #F8F9FA;
  --popover-foreground: #2D2D2D;
  --border: #D1D1D1;
  --input: #E0E0E0;
  --ring: #0077B6;
}

.dark {
  --background: #1C1C1C;
  --foreground: #F1F1F1;
  --primary: #00B4D8;
  --secondary: #90E0EF;
  --tertiary: #9C91B5;
  --card: #1C1C1C;
  --card-foreground: #F1F1F1;
  --popover: #1C1C1C;
  --popover-foreground: #F1F1F1;
  --border: #333333;
  --input: #2A2A2A;
  --ring: #00B4D8;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-family: var(--font-inter), var(--font-poppins), sans-serif;
  }
}
